#top{
}

#menubar{
    float: left;
    width: 18%;
    margin-top: 35px;
}

#main{
    float: right;
    width: 81%;
    margin-top: 0;
    margin-bottom: 0;
}

#menulist{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#greenbutton{
    background: green;
    color: white;
    padding: 5px;
    text-decoration: none;
    text-align: center;
}

#orangebutton{
    background: orange;
    color: white;
    padding: 5px;
    text-decoration: none;
    text-align: center;
}

#bluebutton{
    background: blue;
    color: white;
    padding: 5px;
    text-decoration: none;
    text-align: center;
}

#redbutton{
    background: red;
    color: white;
    padding: 5px;
    text-decoration: none;
    text-align: center;
}

#bottom{
    text-align: center;
    clear: both;
    background-color: #e7e7e7; 
    padding: 20px;
    color: black;
}


.container{
    font-family: sans-serif;
    margin: auto; 
    width: 62%;
}

.welcome{
    text-align: left;
    background-color: #32A852;;
    color: white;
    padding: 35px; 
}

.menuitem{
    text-decoration: none;
    text-align: left;
    font-size: 15px;
    padding: 5px;  
    margin-top: 2px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #c9c9c9;
}

.selected{
    background-color: #32A852;;
}

.wrapper{
    margin-top: -20px;
}

p {
    text-align: justify;
    font-size: 15px;
}